.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 61%;
  object-fit: cover;
  margin-top: 103px;
}

.items-xs {
  position: relative;
  font-size: 19px;
  height: 200px;

  .slider-xs {
    padding-top: 20px;
    overflow: hidden;
    position: relative;
    width: auto;
    overflow: hidden;
    height: 74%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .first-slide {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      position: absolute;
      right: 0px;
      top: 0px;
      transition: 500ms;
      a {
        display: block;
        width: calc(100% / 4);
        padding-top: 10px;
        text-align: center;
        text-decoration: none;
        font-family: web;
        font-size: 11px;
        color: #99307a;

        img {
          margin: 0px auto 10px auto;
        }

        &:hover {
          color: #777777;
          > img {
            filter: grayscale(100%);
          }
        }
      }
    }
    .second-slide {
      @extend .first-slide;
      right: 100%;
    }
  }

  .pagination-xs {
    width: 40px;
    height: 20px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > button {
      width: 5px;
      height: 5px;
      background-color: #bbbaba;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: black;
      }
    }

    > button.active {
      width: 6px;
      height: 6px;
      background-color: white !important;
      outline: 7px solid #e63c94;
    }
  }
}

.offer {
  width: calc((100% - 60px) / 3);
  border-radius: 12px;
  height: 220px;
  perspective: 800px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  &:hover {
    img {
      transform: translateZ(250px);
    }

    .dark {
      visibility: visible;
    }

    .arrow {
      visibility: visible;
    }
  }

  .sub {
    position: absolute;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #99307adf;
    left: 0;
    bottom: 0;
  }

  .dark {
    width: 100%;
    height: 310px;
    line-height: 310px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
  }

  .arrow {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #e52973;
    position: absolute;
    top: 280px;
    left: calc(50% - 30px);
    color: white;
    font-size: 30px;
    visibility: hidden;
  }
}  

.exchange {
  background-image: url(../../images/25.jpg);
  background-size: cover;
  background-position: center center;
}

.app-options {
  border-bottom: 3px solid #cccccc;
  .app-option {
    text-align: center;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    &:hover {
      color: #902070;
      font-weight: bold;
      border-bottom: 3px solid #902070;
    } 
  }

  .chosen {
    color: #902070;
    font-weight: bold;
    border-bottom: 3px solid #902070;
    cursor: default;
  }
}

.app-picture1 {
  width: 150px;
  float: left;
  margin-left: 80px;
  margin-top: 50px;
}

.app-picture2 {
  width: 310px;
  float: left;
  margin-left: 30px;
  margin-top: 50px;
}

.app-features {
  .app-feature {
    display: flex;
    flex: row wrap;
    > div:nth-of-type(1) {
      width: 80px;
      height: 80px;
      background-color: white;
      border-radius: 50%;
      border: 3px solid #cccccc;
      &:hover {
        box-shadow: 1px 1px 10px lightgray;
      }
      img {
        display: block;
        margin: 14px auto;
      }
    }
    > div:nth-of-type(2) {
      margin-top: 15px;
      margin-right: 15px;
      font-size: 13px;
      font-weight: bold;
      color: #666666;
    }
  }
  button {
    width: 85%;
    &:hover {
      background-image: linear-gradient(to right, #9a2170, #e02873, #9a2170);
    }
  }
}

.padding-b-1 {
  padding-bottom: 160px;
}

.padding-b-2 {
  padding-bottom: 20px;
}

.right-0 {
  right: 0%;
}

.right-1 {
  right: -100%;
}

.right-2 {
  right: -200%;
}

.news-content-slider {
  transition: 300ms;
}